<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Connection" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.16.165;Database=HY_Invite;User Id=sa;Password=huiyuan@123;Pooling=true;Max Pool Size=200;Min Pool Size=0;"/>
    <add name="ConnectionHy10000" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.16.165;Database=WE_HY10000;User Id=sa;Password=huiyuan@123;Pooling=true;Max Pool Size=200;Min Pool Size=0;"/>
  </connectionStrings>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
